$gray-600: #6d6d6d;
$gray-900: #1A1818;
$cyan: #00aeef;

$primary: $cyan;

$border-radius: 0px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './fonts/gotham/gotham-font.css';

body,
.font-primary {
    font-family: 'GothamHTF';
}

p,
small,
span,
.font-secondary {
    font-family: 'GothamCondensed';
    font-size: larger;
    letter-spacing: 0.5px;
}

.container-fluid {
    padding: 0;
    text-align: center;
}

.row {
    margin: 0;
}

.slick-active {
    button {
        background: black !important;
    }
}

.btn {
    padding: 12px 50px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: -0.25px;
    text-align: center;
}

.text-dark {
    color: $gray-900;

    small, p, span {
        color: $gray-600
    }
}

#header-footer-color {
    background-color: #1A1818
}